/*  your css code here. If applicable */
body {
	background-color: #f8f8f8;
	/* background-color: rgb(46, 204, 113); */
}

.book-library {
	background-color: #ffffff;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.author{
	color: #777777;
}

/* .price {
	background-color: #2ecc71;
	height: 20px;
	padding: 5px;
	color: white;
	text-align: center;
} */

img {
	width: 300px;
	height: 150px
}

h1 {
	/* width: 300px; */
	padding: 10px 60px;
	background-color : #f8f8f8;
}

.book {
	margin-top: 5px;
	background-color: #f8f8f8;
	padding: 10px;
}

.book-div {
	background-color: #2ecc71;
	color: rgb(255, 255, 255);
	padding: 1px;
	text-align: center;
}